# Map, ApplyMap 사용하기

### Map 함수로 컬럼 추가 및 변경하기

파라미터로 함수를 전달하면 apply 함수와 동일하게 컬럼값을 추가 및 변경할 수 있습니다.

In [2]:
import pandas as pd

In [3]:
date_list = [{'yyyy-mm-dd': '2000-06-27'},
         {'yyyy-mm-dd': '2002-09-24'},
         {'yyyy-mm-dd': '2005-12-20'}]
df = pd.DataFrame(date_list, columns = ['yyyy-mm-dd'])
df

   yyyy-mm-dd
0  2000-06-27
1  2002-09-24
2  2005-12-20

In [4]:
def extract_year(column):
    return column.split('-')[0]

In [8]:
df['year'] = df['yyyy-mm-dd'].map(extract_year)

In [9]:
df

   yyyy-mm-dd  year
0  2000-06-27  2000
1  2002-09-24  2002
2  2005-12-20  2005

### Applymap

데이터프레임 전체의 각각의 값을 한번에 변경시키실 때 사용하시면 좋습니다.

In [13]:
x_y = [{'x': 5.5, 'y': -5.6, 'z': -1.1},
         {'x': -5.2, 'y': 5.5, 'z':-2.2},
         {'x': -1.6, 'y': -4.5, 'z':-3.3}]
df = pd.DataFrame(x_y)
df

     x    y    z
0  5.5 -5.6 -1.1
1 -5.2  5.5 -2.2
2 -1.6 -4.5 -3.3

In [20]:
import numpy as np

In [21]:
df = df.applymap(np.around)

In [22]:
df

     x    y    z
0  6.0 -6.0 -1.0
1 -5.0  6.0 -2.0
2 -2.0 -4.0 -3.0