In [1]:
import pandas as pd

In [2]:
friend_dict_list = [
    {'name': 'John', 'age': 35, 'job':'student'},
    {'name': 'Nate', 'age': 30, 'job':'teacher'},
]

In [3]:
df = pd.DataFrame(friend_dict_list)

In [6]:
df.head()

   age      job  name
0   35  student  John
1   30  teacher  Nate

In [7]:
df = df[['name', 'age', 'job']]

In [8]:
df.head()

   name  age      job
0  John   35  student
1  Nate   30  teacher

In [9]:
from collections import OrderedDict as od

In [10]:
friend_ordered_list  = od(
    [
        ('name', ['John', 'Nate']),
        ('age', [25, 30]),
        ('job', ['student', 'teacher'])
    ]
)

In [11]:
df = pd.DataFrame.from_dict(friend_ordered_list)

In [25]:
df.head()

   name  age      job
0  John   25  student
1  Nate   30  teacher

In [27]:
friend_list = [
    ['John', 20, 'student'],
    ['Nate', 30, 'teacher']
]

In [23]:
column_name = ['name', 'age', 'job']

In [29]:
df = pd.DataFrame.from_records(friend_list, columns = column_name)

In [30]:
df.head()

   name  age      job
0  John   20  student
1  Nate   30  teacher

In [33]:
friend_list  = [
        ['name', ['John', 'Nate']],
        ['age', [25, 30]],
        ['job', ['student', 'teacher']]
]

In [34]:
df = pd.DataFrame.from_items(friend_list)
df.head()

   name  age      job
0  John   25  student
1  Nate   30  teacher